.nav-bar{
    height: 7.0rem;
    background: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links{
    font-size: 2.0rem;
    font-weight: 600;
    color: white;
    font-family: 'Lumanosimo', cursive;
    text-decoration: none;
}