@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0px;
  margin: 0px;
}